body {
    background-color: #fceaf5; 
    margin: 0;
    padding: 0;
    padding-top: 58px;
}

.navbar {
    background-color: #ffd4ed !important;
    font-weight: bold;
    font-size: large;
    box-shadow: 0px 0px 8px 0px #c4c4c4;
}

.dropdown-menu{
    background-color: #fceaf5;
    box-shadow: 0px 0px 8px 0px #fceaf5;
}

.carousel-inner img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
    display: block;
    margin: 0 auto; 
}

.product-card {
    background-color: #ffe5f0; 
    height: 100%; 
    border: 1px solid #ffbad5; 
    box-shadow: 0px 0px 8px 0px #ff99c2; 
    margin: 10px;
}

.product-card:hover{
    transform: scale(1.05);
}

.product-card img {
    width: 100%;      
    height: 250px;     
    object-fit: cover;
}

.product-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #fac0e2;
    box-shadow: 0px 0px 8px 0px #c4c4c4;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

footer p{
    margin: 0;
    font-weight: bold;
}

/* Responsive para tablets */
@media (max-width: 992px) {
    .carousel-inner img {
        height: 400px; 
    }

    .product-card img {
        height: 250px; 
    }
}

/* Responsive para mobile */
@media (max-width: 768px) {
    .carousel-inner img {
        height: 300px; 
    }

    .product-card img {
        height: 250px; 
    }
}

/*detalles de productos*/
.product-detail{
    background-color: #ffe5f0;
    width: 1000px; 
    height: 100%; 
    border: 1px solid #ffbad5; 
    box-shadow: 0px 0px 8px 0px #ff99c2; 
    margin: 0 20px;
}

.product-detail .card-body{
    padding: 20px;
    margin-left: 20px;
}

.card-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#btn-back{
    margin-bottom: 80px;
}

/*contacto*/
form{
    max-width: 80%;
    gap: 10px;
    padding: 20px;
}

#myForm input:hover {
    background-color: white;
    border: solid 1px #ff99c2;
    box-shadow: 0 0 5px #ff99c2;
}

#myForm input:focus {
    background-color: white;
    border: solid 1px #ff99c2;
    box-shadow: 0 0 5px #ff99c2;
}

#myForm textarea:hover {
    background-color: white;
    border: solid 1px #ff99c2;
    box-shadow: 0 0 5px #ff99c2;
}

#myForm textarea:focus {
    background-color: white;
    border: solid 1px #ff99c2;
    box-shadow: 0 0 5px #ff99c2;
}

.error-message {
    color: red;
    display: none;
}
